<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>K19 - Treinamentos</title>
</h:head>
<h:body>
	<div id="header"><img src="imagens/k19-logo.jpg" alt="Logo" />
	<hr/>
	</div>
	<ui:insert name="conteudo">
		Espaço para o conteúdo
	</ui:insert>
	<div id="footer" style="text-align: center">
	<hr/>
	&copy; 2014 K19. Todos os direitos reservados.
	</div>
</h:body>
</html>

