<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>K19 Treinamentos</title>
</h:head>
<h:body>
	<div id="header" style="text-align: left;">
		<img src="imagens/k19-logo.jpg" alt="logo"/>
		<h1>K19 - Desenvolvimento Web com JSF2 e JPA2</h1>
	</div>
	<h:form>
		<h:commandButton value="Anterior" action="anterior"/>
		<h:commandButton value="Próximo" action="proximo"/>
	</h:form>
	<h:link value="Componentes Visuais" outcome="componentes-visuais"/><br/>
	<h:link value="Templates e Modularizações" outcome="templates-e-modularizacao"/><br/>
	<h:link value="Navegação" outcome="navegacao"/>
	
	
	<ui:insert name="corpo-da-pagina">Espaço para o conteúdo da tela</ui:insert>
	
	<div id="footer" style="text-align: center">
	<hr/>
	&copy; 2014 K19. Todos os direitos reservados.
	</div>
</h:body>
</html>