<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<h1>K19 - Eventos</h1>

		<h:form>
			<h:commandButton
				id="botao-jardier" 
				value="Jardier"
				disabled="false"
				actionListener="#{botaoBean.sorteiaBotao}"
			/>
			<h:commandButton 
				id="botao-barbara"
				value="Bárbara"
				disabled="true"
				actionListener="#{botaoBean.sorteiaBotao}"
			/>
			<h:commandButton 
				id="botao-adriana"
				value="Adriana"
				disabled="true"
				actionListener="#{botaoBean.sorteiaBotao}"
			/>
		</h:form>
	</ui:define>
</ui:composition>