<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="conteudo">
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Marca: " for="marca" />
			<h:inputText value="#{carroController.carro.marca}" id="marca"/>
			
			<h:outputLabel value="Modelo: " for="modelo"/>
			<h:inputText value="#{carroController.carro.modelo}" id="modelo"/>
			
			<h:commandButton value="Adicionar" action="#{carroController.salvar}"/>
		</h:panelGrid>
	</h:form>
	
	<h:panelGroup rendered="#{not empty carroController.carros}">
		<h1>Lista de Carros</h1>
		<ul>
			<ui:repeat var="carro" value="#{carroController.carros}">
				<li>
					<h:outputText value="Marca: #{carro.marca} - Modelo: #{carro.modelo}"/>
				</li>
			</ui:repeat>
		</ul>	
	</h:panelGroup>
</ui:define>	
</ui:composition>