<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<h:form id="cadastroFuncionario">
			<h1>Cadastro de Funcionário</h1>
			<h:panelGrid columns="3">
				<h:outputLabel value="Nome: " for="nome" />
				<h:inputText value="#{funcionarioBean.funcionario.nome}"
					required="true" id="nome" />
				<h:message for="nome" />
				
				<h:outputLabel value="Sobre-Nome: " for="sobrenome"/>
				<h:inputText value="#{funcionarioBean.funcionario.sobreNome}" id="sobrenome"/>
				<h:message for="sobrenome" />
				
				<h:outputLabel value="Salário" for="salario" />
				<h:inputText value="#{funcionarioBean.funcionario.salario}"
					id="salario" required="true">
					<f:convertNumber locale="pt_BR" />
					<f:validateDoubleRange minimum="0"/>
				</h:inputText>
				<h:message for="salario" />

				<h:outputLabel value="Código" for="codigo" />
				<h:inputText value="#{funcionarioBean.funcionario.codigo}"
					id="codigo" required="true">
					<f:validateLongRange minimum="5" maximum="19"/>
				</h:inputText>
				<h:message for="codigo" />

				<h:outputLabel value="Data: (dd/MM/yyy)" for="data" />
				<h:inputText value="#{funcionarioBean.funcionario.aniversario}"
					id="data" required="true">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:inputText>
				<h:message for="data" />

				<h:commandButton value="Cadastrar"
					action="#{funcionarioBean.cadastrar}" />
			</h:panelGrid>
		</h:form>

		<h:dataTable rendered="#{not empty funcionarioBean.funcionarios}"
			value="#{funcionarioBean.funcionarios}" var="funcionario">
			<f:facet name="header">Lista de Funcionário</f:facet>
			<h:column>
				<f:facet name="header">Nome</f:facet>
					#{funcionario.nome}
			</h:column>
			<h:column>
				<f:facet name="header">Salário</f:facet>
				#{funcionario.salario}
			</h:column>

		</h:dataTable>
	</ui:define>
</ui:composition>