<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="conteudo">
		<h1>Cadastro</h1>
		<h:form>
			<h:panelGrid columns="3">
				<h:outputLabel value="Nome: " for="nome" />
				<h:inputText value="#{cadastroBean.nome}" id="nome" required="true"/>
				<h:message for="nome" />
								
				<h:outputLabel value="Estado: " for="estado"/>
				<h:selectOneMenu id="estado"
					value="#{cadastroBean.siglaDoEstadoEscolhido}"
					valueChangeListener="#{cadastroBean.mudaEstado}"
					onchange="this.form.submit();"
					required="true"
					immediate="true">
					
					<f:selectItem itemLabel="Escolha um estado" noSelectionOption="true" />
					<f:selectItems 
						value="#{cadastroBean.estados}"
						var="estado"
						itemLabel="#{estado.nome}"
						itemValue="#{estado.sigla}"/>
				</h:selectOneMenu>
				<h:message for="estado"/>
				
				<h:outputLabel value="Cidade: " for="cidade"/>
				<h:selectOneMenu value="#{cadastroBean.cidade}" id="cidade" required="true">
					<f:selectItem itemLabel="Escolha uma cidade" noSelectionOption="true" />
					<f:selectItems value="#{cadastroBean.estadoSelecionado.cidades}"/>
				</h:selectOneMenu>
				<h:message for="cidade" />
				
			</h:panelGrid>
			<h:commandButton value="Cadastrar"/>
		</h:form>	
	</ui:define>
</ui:composition>