<ui:composition template="/WEB-INF/templates/template-modularizao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="corpo-da-pagina">
	<h1>Componentes Visuais</h1>
		No JSF 2, as telas são definidas em arquivos xhtml . Os componentes visuais que
		constituem as telas são adicionados por meio de tags . A especificação do JSF
		define uma grande quantidade de tags e as classifica em bibliotecas .
		As principais bibliotecas de tags do JSF são :
	<ul>
		<li>Core ( http :// java . sun . com / jsf / core )</li>
		<li>HTML ( http :// java . sun . com / jsf / html )</li>
		<li>Facelets ( http :// java . sun . com / jsf / facelets )</li>
	</ul>
</ui:define>
</ui:composition>