<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>K19 - Treinamentos</title>
	<h:outputStylesheet name="k19.css" library="css"/>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nome:" for="nome"/>
			<h:inputText value="#{cursosBean.curso.nome}" id="nome"/>
		
			<h:outputLabel value="Sigla: " for="sigla"/>
			<h:inputText value="#{cursosBean.curso.sigla}" id="sigla"/>
			
			<h:commandButton value="Adicionar" action="#{cursosBean.adcionaCurso}"/>
		</h:panelGrid>
	</h:form>
	
	<h:dataTable value="#{cursosBean.cursos}" var="curso" rendered="#{not empty cursosBean.cursos}">
		<f:facet name="header">Lista de Cursos</f:facet>
		
		<h:column>
			<f:facet name="header">Nome</f:facet>
			#{curso.nome}
		</h:column>
		
		<h:column>
			<f:facet name="header">Sigla</f:facet>
			#{curso.sigla}
		</h:column>
	</h:dataTable>
	
	<h1>Alguns Cursos da K19:</h1>
	<ul>
		<ui:repeat var="curso" value="#{cursosBean.cursos}">
			<li>
				<h:outputText value="#{curso.sigla} - #{curso.sigla} "/>
			</li>
		</ui:repeat>

	</ul>
</h:body>
</html>