<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:form>
		<h:outputLabel value="Caixa de Seleção Única:" />
		<h:selectOneMenu value="#{cursoBean.siglaCursoEscolhido}" >
			<f:selectItem itemLabel="--- Selecione ---" noSelectionOption="true"/>
			<f:selectItems 
				value="#{cursoBean.cursos}"
				var="curso"
				itemValue="#{curso.sigla}"
				itemLabel="#{curso.nome}"
			/>		
		</h:selectOneMenu>
		<h:commandButton value="Enviar" ></h:commandButton>
		<hr/>
		
		<h:outputLabel value="Sigla do Curso Selecionado: "/>
		<h:outputText value="#{cursoBean.siglaCursoEscolhido}" />
		
		<hr/>
		<h:outputLabel value="Ex-aluno" for="exaluno"/>
		<h:selectBooleanCheckbox value="#{cursoBean.exAluno}" id="exaluno"/>	
		
		<hr/>
		<h:outputLabel value="CheckBox Multiplo: "/>
		<h:selectManyCheckbox value="#{cursoBean.siglas}" layout="lineDirection">
			<f:selectItems 
				value="#{cursoBean.cursos}"
				var="curso"
				itemValue="#{curso.sigla}"
				itemLabel="#{curso.nome}"
			/>
		</h:selectManyCheckbox>	
		<h:outputLabel value="Siglas escolhidas:" />
		<h:outputText value="#{cursoBean.siglas}" />
		
	</h:form>
</html>