<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<h:form>
			<f:event listener="#{extratoBean.validaDatas}" type="postValidate" />
			<h:messages infoStyle="color:green" errorStyle="color:red"/>
			<h:panelGrid columns="2">
				<h:outputLabel value="Data Inicial: " for="data-inicial" />
				<h:panelGroup>
					<h:inputText value="#{extratoBean.dataInicial}" id="data-inicial"
						required="true">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText>
					<h:outputText value="dd/MM/yyy" />
				</h:panelGroup>
				<h:outputLabel value="Data Final: " for="data-final" />
				<h:panelGroup>
					<h:inputText value="#{extratoBean.dataFinal}" id="data-final">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText>
					<h:outputText value="dd/MM/yyy" />
				</h:panelGroup>
			</h:panelGrid>
			<h:commandButton value="Gerar Extrato"
				action="#{extratoBean.geraExtrato}" />
		</h:form>
	</ui:define>
</ui:composition>