<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
<ui:define name="conteudo">
	<h1>K19 - Treinamentos</h1>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Marca: " for="marca"/>
			<h:inputText value="#{carroMB.carro.marca}" id="marca"/>
			
			<h:outputLabel value="Modelo: " for="modelo"/>
			<h:inputText value="#{carroMB.carro.modelo}" id="modelo"/>
			
			<h:commandButton value="Adicionar" action="#{carroMB.adicionaCarro}"/>
		</h:panelGrid>
	</h:form>
</ui:define>
</ui:composition>