<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<h1>K19 - Ajax</h1>
		<h:form>
			<h:panelGrid columns="2">
				<h:inputText id="caixa">
					<f:ajax event="keyup" execute="caixa" render="menssagem" />
					<f:validateLength maximum="10" minimum="5" />
				</h:inputText>
				<h:message for="menssagem" id="menssagem" style="color:red" />
				<h:commandButton value="Enviar" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>