<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<h:head>
		<title>K19 Treinamentos</title>
	</h:head>
	<h:body>
		<h:form>
			<h:outputLabel value="Texto: " />
			<h:inputTextarea value="#{textoBean.texto}"/>
			<h:commandButton value="Transformar" action="#{textoBean.transformaEmCaixaAlta}"/>
			<br/>
			<h:selectBooleanCheckbox value="Check1" disabled="true" />Check 1
			<h:selectBooleanCheckbox value="Check2" />Check 2
			<br/>
			<h:selectOneMenu value="">
				<f:selectItem itemValue="K11" itemLabel="Orientação a Objetos"/>
				<f:selectItem itemValue="K12" itemLabel="Desenvolvimento Web com JSF2 e JPA2"/>
			</h:selectOneMenu>
			<br/>
			
		</h:form>
	</h:body>
</html>