<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<ul>
			<ui:repeat value="#{instrutorBean.instrutores}" var="instrutor">
				<ui:include src="/WEB-INF/partial/instrutor-info.xhtml">
					<ui:param name="instrutor" value="#{instrutor}"></ui:param>
				</ui:include>
			</ui:repeat>
		</ul>
	</ui:define>
</ui:composition>