<ui:composition template="/WEB-INF/templates/template-modularizao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<ui:define name="corpo-da-pagina">
	<h1>Navegação</h1>
	Navegar entre as telas de uma aplicação web é preciso . O mecanismo de
	navegação do JSF é bem sofisticado e permite vários tipos de transições entre
	telas . A ideia é muito simples : no clique de um botão ou link , muda -se a tela
	apresentada ao usuário .
</ui:define>	
</ui:composition>