<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<ui:define name="conteudo">
		<h1>Tela Exemplo</h1>
		<h:form>
			<h:commandButton value="Chamar Método" action="#{controller.metodo}" />
		</h:form>
	</ui:define>	
</ui:composition>