<ui:composition template="/WEB-INF/templates/template-modularizao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<ui:define name="corpo-da-pagina">
	<h1>Templates e Modularização</h1>
		A criação de um template é simples . Basta criar um arquivo XHTML e definir o
		posicionamento dos trechos estáticos e dinâmicos . O conteúdo dos trechos
		estáticos também deve ser definido da forma usual dentro do template . Por outro
		lado , o conteúdo dos trechos dinâmicos só será definido nas telas . Para indicar
		o posicionamento dos trechos dinâmicos , devemos utilizar a tag ui: insert .
</ui:define>
</ui:composition>