<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>K19 Treinamentos</title>
</h:head>
<h:body>
	<h:form>
		<h:outputLabel value="Nome: " for="campo-nome"/>
		<h:inputText value="#{usuarioBean.nome}" id="campo-nome"/>
		
		<h:outputLabel value="Idade: " for="campo-idade"/>
		<h:inputText value="#{usuarioBean.idade}" id="campo-idade"/>
		
		<h:commandButton value="Enviar"/>
	</h:form>
	
	O nome do usuário é <b>#{usuarioBean.nome}</b>
	e sua idade pe <b>#{usuarioBean.idade}</b>
</h:body>
</html>