<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="conteudo">
		<h:form>
			<h1>Validador de CPF</h1>
			
			<h:outputLabel value="CPF: " for="cpf" />
			<h:inputText value="#{cpfBean.cpf}" id="cpf">
				<f:validator validatorId="br.com.wood.k12.validator.ValidadorDeCpf"/>
			</h:inputText>
			<h:commandButton value="Validar"/>
		</h:form>
		<h:message for="cpf" style="color:red" />
	</ui:define>
</ui:composition>