<ui:composition template="/WEB-INF/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="conteudo">
	<h:form>
		<h:outputLabel value="Telefone: " for="telefone"/>
		<h:inputText value="#{telefoneBean.telefone}" id="telefone"/>
		<h:commandButton value="Validar"/>
		<h:message for="telefone" styleClass="error"/>
	</h:form>
</ui:define>
</ui:composition>