<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
	<li>
		<h:outputText value="Nome: #{instrutor.nome}"/>
		<br/>
		<h:outputText value="Data Nascimento: #{instrutor.dataNascimento}"/>
	</li>
</ui:composition>